h1{
    text-align: center;
}

input[type=password]{
    width:100%;
    padding:12px 20px;
    margin:8px;
    border-radius: 8px;
}

input[type=submit]{
    border:2px solid black;
    border-radius:6px;
    margin-left:11px;
}

input[type=submit]:hover{
    background-color: green;
    font-size: 20px;
}