.grid-container {
    display              : grid;
    height               : 100vh;
    gap: 10px;
    grid-template-columns: 10% 2fr 1fr 1fr 10%;
    grid-template-rows   : 100px 1fr 1fr 2fr 100px;
    grid-template-areas  :
        "header header header header header"
        ". main  sec1 sec3 ."
        ". main sec2 sec3 ."
        ". main sec4 sec4 ."
        "footer footer footer footer footer";
}

.grid-container * {
    font-size: 3rem;
}

header {
    grid-area: header;
    background-color: yellow;
}

main {
    grid-area: main;
    background-color: pink;
}

.section1 {
    grid-area: sec1;
    background-color: tomato;
}

.section2 {
    grid-area: sec2;
    background-color: green;
}

.section3 {
    grid-area: sec3;
    background-color: lightcoral;
}

.section4 {
    grid-area: sec4;
    background-color: lightgreen;
}

footer {
    grid-area: footer;
    background-color: violet;
}