body{
    background-color: beige;
}
.myIcon{
    font-size: 30px;
    color:blueviolet;
    text-shadow: -5px -5px 5px ;
}
.myTwitt{
    color: red;
    font-size: 40px;
}
.myHeart{
    color:blue;
    font-size: 50px;
}
h1{
    margin-top:10px;
}
header{
    
    height:100px;
    width: 500px;
    background-color: antiquewhite;
    margin: 0px auto;
    text-align: center;
    color: green;
}
.iconContainer{
    height:90px;
    width:100px;
    border:2px solid red;
}
.para{
    height: 180px;
    width: 300px;
    border:2px dotted yellow;
    background-color: aqua;
    color:brown;
    border-radius: 10px;
}
li{
    list-style-type: none;
    font-size: 30px;
}