

body {
    /* background-color: black; */
    background-color: rgb(0, 0, 0);
    /* background-color: #000000; */
}

/* rgb(r,g,b)  rgb method */
/* rgba(r,g,b,a) rgba method ==> a stands for opacity */
/* #rrggbb  Hexadecimal method */

p , h2 , h1 { /*  I can apply same style on different elements with the , */
    /* color: white; */
    color: rgb(255, 255, 255);
}

/*  h2 {
     color: white; 
    color: #ffffff;
}

h1 {
    color: white;
}  */



a {
    color: lightyellow;
    text-decoration: none;
    font-size: large;
}

