header{
    width: 100%;
    
    background-color: #db8664
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}
li a{
    text-decoration: none;
    color: black;
    background-color: bisque;
    padding: 10px;
    border-radius: 6px;
}
main{
    width: 100%;
    height: auto;
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;;
    width: 200px;
    height: 300px;
    
    padding: 10px;
    margin: 15px;
    

}
.card img{
    border:2px solid black;
    border-radius: 8px;
}
.card p{
    font-size: 15px;
    color:rgb(171, 95, 3)

}

footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    background-color:      #db8664
}