#parent {
    background-color: rgb(251, 108, 108);
    width           : 75vw;


    /* height: fit-content;  */
    /* height: 1000px; */
    height: 70vh;
}

#par-one {
    height          : 80%;
    width           : 50%;
    border          : 2px solid black;
    background-color: aqua;
    font-size       : 1.2em;
}