div{
    height: 200px;
    width: 200px;
    margin:20px 20px ;
position:absolute
    
}

.one{
    background-color: blue;
    top: 40px;
    left:40px;
    z-index: 1;
    
}

.two{
    background-color: red;
  
    top: 80px;
    left: 80px;
    z-index: 2;
}

.three{
    background-color: green;
   
    top:120px;
    left: 120px;
    z-index: 3;

}

.four{
    background-color: pink;
    z-index: 4;
    top:160px;
    left:160px
}