body{
    background-color: antiquewhite;
}
.form-container{
    margin:0px auto;
    height: 500px;
    width: 500px;
    
    text-align: center;
    box-shadow: 5px 5px 5px 12px lightblue;
    
}
h1{
    text-align: center;
}
input[type=email],input[type=firstname],input[type=password],input[type=lastname]{
   margin:8px; 
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #eaa0a0;
}
button{
    background-color: green;
    font-size: large;
    border: 2px solid rgb(231, 231, 158);
    border-radius: 8px;
    padding:10px;
}