

main {
    width: 500px;
    height: 500px;
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.item {
    width: 50px;
    height: 50px;
    background-color: white;
    animation: coloring 1s infinite;
    border-radius: 50%;
}

.two {
    animation-delay: 0.2s;
}

.three {
    animation-delay: 0.4s;
}
.four {
    animation-delay: 0.6s;
}
.five {
    animation-delay: 0.8s;
}

@keyframes coloring {
    10% {
        background-color: pink;
    }
    20% {
        background-color: red;
    }
    30% {
        background-color: green;
    }
    40% {
        background-color: blue;
    }
    50% {
        background-color: orange;
    }
    60% {
        background-color: magenta;
    }
    70% {
        background-color: yellow;
    }
    80% {
        background-color: tomato;
    }
    90% {
        background-color: blueviolet;
    }
    100% {
        background-color: chartreuse;
    }
    
}

